<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="/img/DocSys.png" id="logo">
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <form method="post" action="/user/login" class="login-form">
                    <div class="form-group">
                        <input type="email" id="email" name="email" placeholder="Email..." required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="Senha..." required>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="login" class="login-button">Entrar</button>
                    </div>
                    <% if (error) { %>
                        <p class="erro-mensagem"><%= error %></p>
                    <% } %>
                </form>
            </div>
        </div>
    </div>
</section>
