<section>
    <div class="container">
        <div class="row" style="padding-top: 50px;">
            <div class="col-lg-6 text-center">
                <a href="/register/patient" class="btn btn-lg">Adicionar Pacientes</a>
            </div>
            <div class="col-lg-6 text-center">
                <a href="/list/patients"><button type="button" class="btn btn-lg">Listar Pacientes</button></a>
            </div>
        </div>
    </div>
</section>

