<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <%- include('../../main/auth/login') %>
  </body>
</html>

